{{!-- Components --}}
{{#*inline "ability-data"}}
<div class="ability-data-{{@key}}">
    <div class="ability-skills grid grid-3col">
        {{#each skills}}
        <div class="skill-container flexcol flex-group-center">
            <span class="skill-affinity"><input name="system.skillFamilies.{{ @...key }}.{{ @key }}" type="number"
                    value="{{ affinity }}" data-dtype="Number" />
            </span>
            <span class="skill-label">{{defineLabel @...key @key }}</span>
        </div>
        {{/each}}
    </div>
    <div class="ability-filling grid grid-2col">
        <div class="ability-xp flexcol flex-group-center">
            <input name="actor.system.skillFamilies.{{@key}}.xp" type="number" value="{{ xp }}" data-dtype="Number" />
            <div>{{localize "THI.XP"}}</div>
        </div>
        <div class="ability-harm flexcol flex-group-center">
            <input name="actor.system.skillFamilies.{{@key}}.harm" type="number" value="{{ harm }}"
                data-dtype="Number" />
            <div>{{localize "THI.Harm"}}</div>
        </div>
    </div>
</div>
{{/inline}}

<section class="tab stats {{tab.cssClass}}" data-group="primary" data-tab="stats">
    <div class="main-content">
        <div class="abilities grid grid-4col">
            {{#each actor.system.skillFamilies}}
            {{> ability-data }}
            {{/each}}
        </div>
    </div>
</section>